html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

body {
  // font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

form {
  input {
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #ccc;
    }
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}
