body {
  min-height: 100vh;
  display: flex;
  background: #f5f5f5;
}

h1,
h2 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #3639a4;
}

td {
  cursor: default;
  a {
    border-bottom: 1px solid #444;
  }
}

nav {
  min-height: 100vh;
  width: 15%;
  padding: 35px 35px 50px 35px;
  background-color: #3639a4;
  color: white;
  overflow: hidden;
  position: fixed;
  h1 {
    margin-bottom: 80px;
    font-size: 32px;
    span {
      color: #76e9f0;
    }
  }
  .button {
    padding: 16px 0 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
    transition: 0.1s;
    cursor: pointer;
    &:hover {
      color: #eee;
    }
    &.active {
      color: white;
    }
    .button-l {
      display: flex;
      align-items: center;
      column-gap: 16px;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.container {
  width: 85%;
  margin: 40px 9% 0 25%;
  display: flex;
  flex-direction: column;
  .back {
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
  }
  .content {
    height: auto;
    width: 100%;
    margin: 20px 0 48px 0;
    padding: 24px 32px 32px 32px;
    background: white;
    border-radius: 12px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.02);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  th {
    padding-bottom: 10px;
    color: #666;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-weight: 500;
  }
  td {
    height: 40px;
    border-bottom: 1px solid #eee;
    &.submit-btn {
      width: 100px;
    }
    form {
      width: 10px;
    }
    button {
      width: 100px;
      margin-left: -25px;
      padding: 15px 0px 15px 0px;
      background: none;
      opacity: 0;
      transition: 0.2s;
      cursor: pointer;
      .fas {
        font-size: 20px;
      }
    }
  }
}
