body {
  min-height: 100vh;
  display: flex;
  background: #f5f5f5;
  overflow-y: scroll;
}

h1,
h2 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #3639a4;
}

td {
  cursor: default;
}

td a {
  border-bottom: 1px solid #444;
}

nav {
  height: 100vh;
  width: 15%;
  padding: 35px 35px 0 35px;
  display: flex;
  flex-direction: column;
  background-color: #3639a4;
  color: white;
  overflow: hidden;
  position: fixed;
  font-family: "Poppins", sans-serif;
}

nav h1 {
  margin-bottom: 20%;
  font-size: 32px;
}

nav h1 span {
  color: #76e9f0;
}

nav .button {
  padding: 12px 0 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
  transition: 0.1s;
  cursor: pointer;
}

nav .button:hover {
  color: #eee;
}

nav .button.active {
  color: white;
}

nav .button.active .dot {
  background: white !important;
}

nav .button .button-l {
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-size: 18px;
  font-weight: 300;
}

nav .button .button-l .dot {
  height: 5px;
  width: 5px;
  background: #ccc;
  border-radius: 50%;
}

nav .profile {
  position: absolute;
  bottom: 65px;
}

.container {
  width: 100%;
  margin: 40px 5vw 0 25vw;
  display: flex;
  flex-direction: column;
}

.container .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .heading .search-bar {
  height: 100%;
  width: fit-content;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-bottom: 1px solid #ccc;
}

.container .heading .search-bar input {
  height: 100%;
  width: 150px;
  padding-left: 4px;
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

.container .heading .search-bar input:focus {
  outline: none;
}

.container .heading .search-bar i {
  cursor: pointer;
}

.container .back {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}

.container .card {
  height: auto;
  margin: 20px 0 48px 0;
  padding: 24px 32px 28px 32px;
  background: white;
  border-radius: 12px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
}

table th {
  padding-bottom: 10px;
  color: #666;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-weight: 500;
  cursor: pointer !important;
}

table td {
  height: 40px;
  border-bottom: 1px solid #eee;
}

table td.submit-btn {
  width: 100px;
}

table td form {
  width: 10px;
}

table td button {
  width: 100px;
  margin-left: -25px;
  padding: 15px 0px 15px 0px;
  background: none;
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;
}

table td button .fas {
  font-size: 20px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 4px 8px 4px 8px;
  background: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

.pagination button a {
  color: #222;
  font-size: 12px;
}

.pagination button a :visited {
  color: #222;
}

.pagination button:hover {
  background: #dedede;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
/*# sourceMappingURL=dashboard.css.map */