.container {
  .card {
    display: flex;
    flex-direction: column;
    .row {
      display: grid;
      row-gap: 8px;
      &.c3 {
        grid-template-columns: repeat(3, minmax(150px, 300px));
        grid-template-rows: auto auto;
      }
      &.c4 {
        grid-template-columns: repeat(4, minmax(100px, 250px));
        grid-template-rows: auto auto;
      }
    }
    label {
      margin-top: 15px;
      color: #888;
      font-size: 14px;
      font-weight: 300;
    }
    input {
      font-size: 16px;
      transition: 0.2s;
      &.editable {
        padding: 0 0 8px 0;
        color: #222;
        border-bottom: 1px solid #ccc;
        &:focus {
          border-color: #3639a4;
        }
      }
      &.readonly {
        padding: 6px 0 6px 0;
        border-bottom: 1px solid #eee;
      }
      &[name="status"] {
        width: fit-content;
      }
    }
    button.submit {
      height: 30px;
      width: max-content;
      margin-top: 10px !important;
      padding: 8px 12px 8px 12px;
      align-self: flex-end;
      color: white;
      background: #3639a4;
      border-radius: 4px;
      font-size: 12px;
    }
    .form-status {
      display: flex;
      flex-direction: column;
    }
  }
}
