.container {
  .card {
    .row {
      &.c6 {
        grid-template-columns: 50px 200px 30px 80px 80px 80px;
        grid-template-rows: repeat(2, auto);
        column-gap: 50px;
      }
    }
    button.submit {
      margin-left: auto;
    }
  }
  .card.overtime-container {
    .row {
      &.c3 {
        grid-template-columns: 200px 50px 200px;
        grid-template-rows: repeat(2, auto);
        column-gap: 50px;
        button.submit {
          margin: 0;
        }
      }
    }
  }
}
