table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
 
  th {
    color: #666;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-weight: 500;
  }
  td {
    border-bottom: 1px solid #eee;
    &.submit-btn {
      width: 100px;
    }
  }
}
